.round-flag-icon {
  position: relative;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.round-flag-ad {
  background-image: url('../flags/ad.svg')
}

.round-flag-ae {
  background-image: url('../flags/ae.svg')
}

.round-flag-af {
  background-image: url('../flags/af.svg')
}

.round-flag-ag {
  background-image: url('../flags/ag.svg')
}

.round-flag-ai {
  background-image: url('../flags/ai.svg')
}

.round-flag-al {
  background-image: url('../flags/al.svg')
}

.round-flag-am {
  background-image: url('../flags/am.svg')
}

.round-flag-ao {
  background-image: url('../flags/ao.svg')
}

.round-flag-ar {
  background-image: url('../flags/ar.svg')
}

.round-flag-as {
  background-image: url('../flags/as.svg')
}

.round-flag-at {
  background-image: url('../flags/at.svg')
}

.round-flag-au {
  background-image: url('../flags/au.svg')
}

.round-flag-aw {
  background-image: url('../flags/aw.svg')
}

.round-flag-ax {
  background-image: url('../flags/ax.svg')
}

.round-flag-az {
  background-image: url('../flags/az.svg')
}

.round-flag-ba {
  background-image: url('../flags/ba.svg')
}

.round-flag-bb {
  background-image: url('../flags/bb.svg')
}

.round-flag-bd {
  background-image: url('../flags/bd.svg')
}

.round-flag-be {
  background-image: url('../flags/be.svg')
}

.round-flag-bf {
  background-image: url('../flags/bf.svg')
}

.round-flag-bg {
  background-image: url('../flags/bg.svg')
}

.round-flag-bh {
  background-image: url('../flags/bh.svg')
}

.round-flag-bi {
  background-image: url('../flags/bi.svg')
}

.round-flag-bj {
  background-image: url('../flags/bj.svg')
}

.round-flag-bl {
  background-image: url('../flags/bl.svg')
}

.round-flag-bm {
  background-image: url('../flags/bm.svg')
}

.round-flag-bn {
  background-image: url('../flags/bn.svg')
}

.round-flag-bo {
  background-image: url('../flags/bo.svg')
}

.round-flag-bq-bo {
  background-image: url('../flags/bq-bo.svg')
}

.round-flag-bq-sa {
  background-image: url('../flags/bq-sa.svg')
}

.round-flag-bq-se {
  background-image: url('../flags/bq-se.svg')
}

.round-flag-br {
  background-image: url('../flags/br.svg')
}

.round-flag-bs {
  background-image: url('../flags/bs.svg')
}

.round-flag-bt {
  background-image: url('../flags/bt.svg')
}

.round-flag-bw {
  background-image: url('../flags/bw.svg')
}

.round-flag-by {
  background-image: url('../flags/by.svg')
}

.round-flag-bz {
  background-image: url('../flags/bz.svg')
}

.round-flag-ca-bc {
  background-image: url('../flags/ca-bc.svg')
}

.round-flag-ca {
  background-image: url('../flags/ca.svg')
}

.round-flag-cc {
  background-image: url('../flags/cc.svg')
}

.round-flag-cd {
  background-image: url('../flags/cd.svg')
}

.round-flag-cf {
  background-image: url('../flags/cf.svg')
}

.round-flag-cg {
  background-image: url('../flags/cg.svg')
}

.round-flag-ch {
  background-image: url('../flags/ch.svg')
}

.round-flag-ci {
  background-image: url('../flags/ci.svg')
}

.round-flag-ck {
  background-image: url('../flags/ck.svg')
}

.round-flag-cl {
  background-image: url('../flags/cl.svg')
}

.round-flag-cm {
  background-image: url('../flags/cm.svg')
}

.round-flag-cn {
  background-image: url('../flags/cn.svg')
}

.round-flag-co {
  background-image: url('../flags/co.svg')
}

.round-flag-cr {
  background-image: url('../flags/cr.svg')
}

.round-flag-cu {
  background-image: url('../flags/cu.svg')
}

.round-flag-cv {
  background-image: url('../flags/cv.svg')
}

.round-flag-cw {
  background-image: url('../flags/cw.svg')
}

.round-flag-cx {
  background-image: url('../flags/cx.svg')
}

.round-flag-cy {
  background-image: url('../flags/cy.svg')
}

.round-flag-cz {
  background-image: url('../flags/cz.svg')
}

.round-flag-de {
  background-image: url('../flags/de.svg')
}

.round-flag-dj {
  background-image: url('../flags/dj.svg')
}

.round-flag-dk {
  background-image: url('../flags/dk.svg')
}

.round-flag-dm {
  background-image: url('../flags/dm.svg')
}

.round-flag-do {
  background-image: url('../flags/do.svg')
}

.round-flag-dz {
  background-image: url('../flags/dz.svg')
}

.round-flag-ea {
  background-image: url('../flags/ea.svg')
}

.round-flag-easter_island {
  background-image: url('../flags/easter_island.svg')
}

.round-flag-ec-w {
  background-image: url('../flags/ec-w.svg')
}

.round-flag-ec {
  background-image: url('../flags/ec.svg')
}

.round-flag-ee {
  background-image: url('../flags/ee.svg')
}

.round-flag-eg {
  background-image: url('../flags/eg.svg')
}

.round-flag-eh {
  background-image: url('../flags/eh.svg')
}

.round-flag-er {
  background-image: url('../flags/er.svg')
}

.round-flag-es-cn {
  background-image: url('../flags/es-cn.svg')
}

.round-flag-es-ga {
  background-image: url('../flags/es-ga.svg')
}

.round-flag-es-ib {
  background-image: url('../flags/es-ib.svg')
}

.round-flag-es-ml {
  background-image: url('../flags/es-ml.svg')
}

.round-flag-es-pv {
  background-image: url('../flags/es-pv.svg')
}

.round-flag-es {
  background-image: url('../flags/es.svg')
}

.round-flag-esperanto {
  background-image: url('../flags/esperanto.svg')
}

.round-flag-et {
  background-image: url('../flags/et.svg')
}

.round-flag-european_union {
  background-image: url('../flags/european_union.svg')
}

.round-flag-fi {
  background-image: url('../flags/fi.svg')
}

.round-flag-fj {
  background-image: url('../flags/fj.svg')
}

.round-flag-fk {
  background-image: url('../flags/fk.svg')
}

.round-flag-fm {
  background-image: url('../flags/fm.svg')
}

.round-flag-fo {
  background-image: url('../flags/fo.svg')
}

.round-flag-fr-h {
  background-image: url('../flags/fr-h.svg')
}

.round-flag-fr {
  background-image: url('../flags/fr.svg')
}

.round-flag-ga {
  background-image: url('../flags/ga.svg')
}

.round-flag-gb-eng {
  background-image: url('../flags/gb-eng.svg')
}

.round-flag-gb-ork {
  background-image: url('../flags/gb-ork.svg')
}

.round-flag-gb-sct {
  background-image: url('../flags/gb-sct.svg')
}

.round-flag-gb-wls {
  background-image: url('../flags/gb-wls.svg')
}

.round-flag-gb {
  background-image: url('../flags/gb.svg')
}

.round-flag-gd {
  background-image: url('../flags/gd.svg')
}

.round-flag-ge-ab {
  background-image: url('../flags/ge-ab.svg')
}

.round-flag-ge {
  background-image: url('../flags/ge.svg')
}

.round-flag-gg {
  background-image: url('../flags/gg.svg')
}

.round-flag-gh {
  background-image: url('../flags/gh.svg')
}

.round-flag-gi {
  background-image: url('../flags/gi.svg')
}

.round-flag-gl {
  background-image: url('../flags/gl.svg')
}

.round-flag-gm {
  background-image: url('../flags/gm.svg')
}

.round-flag-gn {
  background-image: url('../flags/gn.svg')
}

.round-flag-gq {
  background-image: url('../flags/gq.svg')
}

.round-flag-gr {
  background-image: url('../flags/gr.svg')
}

.round-flag-gt {
  background-image: url('../flags/gt.svg')
}

.round-flag-gu {
  background-image: url('../flags/gu.svg')
}

.round-flag-gw {
  background-image: url('../flags/gw.svg')
}

.round-flag-gy {
  background-image: url('../flags/gy.svg')
}

.round-flag-hausa {
  background-image: url('../flags/hausa.svg')
}

.round-flag-hk {
  background-image: url('../flags/hk.svg')
}

.round-flag-hmong {
  background-image: url('../flags/hmong.svg')
}

.round-flag-hn {
  background-image: url('../flags/hn.svg')
}

.round-flag-hr {
  background-image: url('../flags/hr.svg')
}

.round-flag-ht {
  background-image: url('../flags/ht.svg')
}

.round-flag-hu {
  background-image: url('../flags/hu.svg')
}

.round-flag-id {
  background-image: url('../flags/id.svg')
}

.round-flag-ie {
  background-image: url('../flags/ie.svg')
}

.round-flag-il {
  background-image: url('../flags/il.svg')
}

.round-flag-im {
  background-image: url('../flags/im.svg')
}

.round-flag-in {
  background-image: url('../flags/in.svg')
}

.round-flag-io {
  background-image: url('../flags/io.svg')
}

.round-flag-iq {
  background-image: url('../flags/iq.svg')
}

.round-flag-ir {
  background-image: url('../flags/ir.svg')
}

.round-flag-is {
  background-image: url('../flags/is.svg')
}

.round-flag-it-82 {
  background-image: url('../flags/it-82.svg')
}

.round-flag-it-88 {
  background-image: url('../flags/it-88.svg')
}

.round-flag-it {
  background-image: url('../flags/it.svg')
}

.round-flag-je {
  background-image: url('../flags/je.svg')
}

.round-flag-jm {
  background-image: url('../flags/jm.svg')
}

.round-flag-jo {
  background-image: url('../flags/jo.svg')
}

.round-flag-jp {
  background-image: url('../flags/jp.svg')
}

.round-flag-kannada {
  background-image: url('../flags/kannada.svg')
}

.round-flag-ke {
  background-image: url('../flags/ke.svg')
}

.round-flag-kg {
  background-image: url('../flags/kg.svg')
}

.round-flag-kh {
  background-image: url('../flags/kh.svg')
}

.round-flag-ki {
  background-image: url('../flags/ki.svg')
}

.round-flag-km {
  background-image: url('../flags/km.svg')
}

.round-flag-kn {
  background-image: url('../flags/kn.svg')
}

.round-flag-kp {
  background-image: url('../flags/kp.svg')
}

.round-flag-kr {
  background-image: url('../flags/kr.svg')
}

.round-flag-kurdistan {
  background-image: url('../flags/kurdistan.svg')
}

.round-flag-kw {
  background-image: url('../flags/kw.svg')
}

.round-flag-ky {
  background-image: url('../flags/ky.svg')
}

.round-flag-kz {
  background-image: url('../flags/kz.svg')
}

.round-flag-la {
  background-image: url('../flags/la.svg')
}

.round-flag-lb {
  background-image: url('../flags/lb.svg')
}

.round-flag-lc {
  background-image: url('../flags/lc.svg')
}

.round-flag-li {
  background-image: url('../flags/li.svg')
}

.round-flag-lk {
  background-image: url('../flags/lk.svg')
}

.round-flag-lr {
  background-image: url('../flags/lr.svg')
}

.round-flag-ls {
  background-image: url('../flags/ls.svg')
}

.round-flag-lt {
  background-image: url('../flags/lt.svg')
}

.round-flag-lu {
  background-image: url('../flags/lu.svg')
}

.round-flag-lv {
  background-image: url('../flags/lv.svg')
}

.round-flag-ly {
  background-image: url('../flags/ly.svg')
}

.round-flag-ma {
  background-image: url('../flags/ma.svg')
}

.round-flag-malayali {
  background-image: url('../flags/malayali.svg')
}

.round-flag-maori {
  background-image: url('../flags/maori.svg')
}

.round-flag-mc {
  background-image: url('../flags/mc.svg')
}

.round-flag-md {
  background-image: url('../flags/md.svg')
}

.round-flag-me {
  background-image: url('../flags/me.svg')
}

.round-flag-mg {
  background-image: url('../flags/mg.svg')
}

.round-flag-mh {
  background-image: url('../flags/mh.svg')
}

.round-flag-mk {
  background-image: url('../flags/mk.svg')
}

.round-flag-ml {
  background-image: url('../flags/ml.svg')
}

.round-flag-mm {
  background-image: url('../flags/mm.svg')
}

.round-flag-mn {
  background-image: url('../flags/mn.svg')
}

.round-flag-mo {
  background-image: url('../flags/mo.svg')
}

.round-flag-mp {
  background-image: url('../flags/mp.svg')
}

.round-flag-mq {
  background-image: url('../flags/mq.svg')
}

.round-flag-mr {
  background-image: url('../flags/mr.svg')
}

.round-flag-ms {
  background-image: url('../flags/ms.svg')
}

.round-flag-mt {
  background-image: url('../flags/mt.svg')
}

.round-flag-mu {
  background-image: url('../flags/mu.svg')
}

.round-flag-mv {
  background-image: url('../flags/mv.svg')
}

.round-flag-mw {
  background-image: url('../flags/mw.svg')
}

.round-flag-mx {
  background-image: url('../flags/mx.svg')
}

.round-flag-my {
  background-image: url('../flags/my.svg')
}

.round-flag-mz {
  background-image: url('../flags/mz.svg')
}

.round-flag-na {
  background-image: url('../flags/na.svg')
}

.round-flag-nato {
  background-image: url('../flags/nato.svg')
}

.round-flag-ne {
  background-image: url('../flags/ne.svg')
}

.round-flag-nf {
  background-image: url('../flags/nf.svg')
}

.round-flag-ng {
  background-image: url('../flags/ng.svg')
}

.round-flag-ni {
  background-image: url('../flags/ni.svg')
}

.round-flag-nl {
  background-image: url('../flags/nl.svg')
}

.round-flag-no {
  background-image: url('../flags/no.svg')
}

.round-flag-northen_cyprus {
  background-image: url('../flags/northen_cyprus.svg')
}

.round-flag-np {
  background-image: url('../flags/np.svg')
}

.round-flag-nr {
  background-image: url('../flags/nr.svg')
}

.round-flag-nu {
  background-image: url('../flags/nu.svg')
}

.round-flag-nz {
  background-image: url('../flags/nz.svg')
}

.round-flag-om {
  background-image: url('../flags/om.svg')
}

.round-flag-pa {
  background-image: url('../flags/pa.svg')
}

.round-flag-pe {
  background-image: url('../flags/pe.svg')
}

.round-flag-pf {
  background-image: url('../flags/pf.svg')
}

.round-flag-pg {
  background-image: url('../flags/pg.svg')
}

.round-flag-ph {
  background-image: url('../flags/ph.svg')
}

.round-flag-pk {
  background-image: url('../flags/pk.svg')
}

.round-flag-pl {
  background-image: url('../flags/pl.svg')
}

.round-flag-pn {
  background-image: url('../flags/pn.svg')
}

.round-flag-pr {
  background-image: url('../flags/pr.svg')
}

.round-flag-ps {
  background-image: url('../flags/ps.svg')
}

.round-flag-pt-20 {
  background-image: url('../flags/pt-20.svg')
}

.round-flag-pt-30 {
  background-image: url('../flags/pt-30.svg')
}

.round-flag-pt {
  background-image: url('../flags/pt.svg')
}

.round-flag-pw {
  background-image: url('../flags/pw.svg')
}

.round-flag-py {
  background-image: url('../flags/py.svg')
}

.round-flag-qa {
  background-image: url('../flags/qa.svg')
}

.round-flag-re {
  background-image: url('../flags/fr.svg')
}

.round-flag-ro {
  background-image: url('../flags/ro.svg')
}

.round-flag-rs {
  background-image: url('../flags/rs.svg')
}

.round-flag-ru {
  background-image: url('../flags/ru.svg')
}

.round-flag-rw {
  background-image: url('../flags/rw.svg')
}

.round-flag-sa {
  background-image: url('../flags/sa.svg')
}

.round-flag-sb {
  background-image: url('../flags/sb.svg')
}

.round-flag-sc {
  background-image: url('../flags/sc.svg')
}

.round-flag-sd {
  background-image: url('../flags/sd.svg')
}

.round-flag-se {
  background-image: url('../flags/se.svg')
}

.round-flag-sg {
  background-image: url('../flags/sg.svg')
}

.round-flag-sh {
  background-image: url('../flags/gb.svg')
}

.round-flag-si {
  background-image: url('../flags/si.svg')
}

.round-flag-sindh {
  background-image: url('../flags/sindh.svg')
}

.round-flag-sk {
  background-image: url('../flags/sk.svg')
}

.round-flag-sl {
  background-image: url('../flags/sl.svg')
}

.round-flag-sm {
  background-image: url('../flags/sm.svg')
}

.round-flag-sn {
  background-image: url('../flags/sn.svg')
}

.round-flag-so {
  background-image: url('../flags/so.svg')
}

.round-flag-somaliland {
  background-image: url('../flags/somaliland.svg')
}

.round-flag-south_ossetia {
  background-image: url('../flags/south_ossetia.svg')
}

.round-flag-sr {
  background-image: url('../flags/sr.svg')
}

.round-flag-ss {
  background-image: url('../flags/ss.svg')
}

.round-flag-st {
  background-image: url('../flags/st.svg')
}

.round-flag-sv {
  background-image: url('../flags/sv.svg')
}

.round-flag-sx {
  background-image: url('../flags/sx.svg')
}

.round-flag-sy {
  background-image: url('../flags/sy.svg')
}

.round-flag-sz {
  background-image: url('../flags/sz.svg')
}

.round-flag-tc {
  background-image: url('../flags/tc.svg')
}

.round-flag-td {
  background-image: url('../flags/td.svg')
}

.round-flag-tg {
  background-image: url('../flags/tg.svg')
}

.round-flag-th {
  background-image: url('../flags/th.svg')
}

.round-flag-tibet {
  background-image: url('../flags/tibet.svg')
}

.round-flag-tj {
  background-image: url('../flags/tj.svg')
}

.round-flag-tk {
  background-image: url('../flags/tk.svg')
}

.round-flag-tl {
  background-image: url('../flags/tl.svg')
}

.round-flag-tm {
  background-image: url('../flags/tm.svg')
}

.round-flag-tn {
  background-image: url('../flags/tn.svg')
}

.round-flag-to {
  background-image: url('../flags/to.svg')
}

.round-flag-tr {
  background-image: url('../flags/tr.svg')
}

.round-flag-transnistria {
  background-image: url('../flags/transnistria.svg')
}

.round-flag-tt {
  background-image: url('../flags/tt.svg')
}

.round-flag-tv {
  background-image: url('../flags/tv.svg')
}

.round-flag-tw {
  background-image: url('../flags/tw.svg')
}

.round-flag-tz {
  background-image: url('../flags/tz.svg')
}

.round-flag-ua {
  background-image: url('../flags/ua.svg')
}

.round-flag-ug {
  background-image: url('../flags/ug.svg')
}

.round-flag-united_nations {
  background-image: url('../flags/united_nations.svg')
}

.round-flag-us-hi {
  background-image: url('../flags/us-hi.svg')
}

.round-flag-us {
  background-image: url('../flags/us.svg')
}

.round-flag-uy {
  background-image: url('../flags/uy.svg')
}

.round-flag-uz {
  background-image: url('../flags/uz.svg')
}

.round-flag-va {
  background-image: url('../flags/va.svg')
}

.round-flag-vc {
  background-image: url('../flags/vc.svg')
}

.round-flag-ve {
  background-image: url('../flags/ve.svg')
}

.round-flag-vg {
  background-image: url('../flags/vg.svg')
}

.round-flag-vi {
  background-image: url('../flags/vi.svg')
}

.round-flag-vn {
  background-image: url('../flags/vn.svg')
}

.round-flag-vu {
  background-image: url('../flags/vu.svg')
}

.round-flag-ws {
  background-image: url('../flags/ws.svg')
}

.round-flag-xk {
  background-image: url('../flags/xk.svg')
}

.round-flag-xx {
  background-image: url('../flags/xx.svg')
}

.round-flag-ye {
  background-image: url('../flags/ye.svg')
}

.round-flag-yiddish {
  background-image: url('../flags/yiddish.svg')
}

.round-flag-za {
  background-image: url('../flags/za.svg')
}

.round-flag-zm {
  background-image: url('../flags/zm.svg')
}

.round-flag-zw {
  background-image: url('../flags/zw.svg')
}
